<!DOCTYPE html>
<html *ngIf="acceso">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <style>
      table, td {
        border:1px solid black;
      }
      table {
        width:100%;
      }
      td {
        padding:5px;
      }
    </style>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.js"></script>

    <link rel="stylesheet" href="/lib/bootstrap.min.css">
    <script src="/lib/jquery-1.12.2.min.js"></script>
    <script src="/lib/bootstrap.min.js"></script>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="autrizaciones-listado.component.css">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

      <!-- datepicker font -->

      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
      <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

<body>

    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
              <a href="http://localhost:4200/home">
              <!-- <a href="https://autdatosdes.chec.com.co/#home"> -->
                <h3 class="auto">Autorizacion de datos personales</h3>
              </a>
                <strong>AD</strong>
            </div>

            <ul class="list-unstyled components">
                <li (click)="ShowHideButton()">
                   <a href="http://localhost:4200/#normaslist">
                   <!-- <a href="https://autdatosdes.chec.com.co/#normaslist"> -->
                        <i class="fa fa-book"></i>
                        Normas
                    </a>

                </li>

                <li (click)="ShowHideButton()">
                    <a href="http://localhost:4200/#contactoslist">
                    <!-- <a href="https://autdatosdes.chec.com.co/#contactoslist"> -->
                        <i class="fa fa-address-book"></i>
                        Puntos de contacto
                    </a>
                </li>
                <li class="active" (click)="ShowHideButton()">
                    <a href="http://localhost:4200/#autorizacioneslist">
                    <!-- <a href="https://autdatosdes.chec.com.co/#autorizacioneslist"> -->
                        <i class="fa fa-check-square"></i>
                        Autorizaciones
                    </a>
                </li>
            </ul>

        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fa fa-align-left"></i>
                        <span>Ocultar menu</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-align-justify"></i>
                    </button>
                    <img  class="img-responsive"  src="assets/images/chec3.jpg" >
                </div>
                <a  (click)="logOut()"  class="btn btn-info btn-lg salir "  >
                  <span class="glyphicon glyphicon-log-out"></span> Salir
                </a>
            </nav>

            <div class="container">
              <ul class="nav nav-tabs">
                <li class="nav-item" *ngIf="showMainContent"><a class="nav-link " data-toggle="tab" href="http://localhost:4200/#autorizaciones">Forma</a></li>
                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="http://localhost:4200/#autorizacioneslist">Listado</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="http://localhost:4200/#autorizacionescont">Contacto</a></li>
                </ul>

                <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3" style="margin-top:'1%'; margin-bottom: '2%';" >

                    <div class="col-md-3" >
                      <div class="p-3 " class="texto4">
                        <input [(ngModel)]="buscarId.pPersonaId" placeholder="Ingrese Documento" class="form-control" type="text" [ngModelOptions]="{standalone: true}" aria-label=".form-control-lg example"required>
                      </div>
                    </div>
                    <div class="g-col-6" class="buscar">
                      <button
                            style="background-color:#649400;"
                            type="submit"
                            (click)='buscarAutorizacionxid()'
                            class="btn btn-primary">
                            Buscar
                      </button>
                    </div>

                </div>

                <br>
            <table>

              <tr ALIGN=center>
                <td># Documento</td>
                <td>Tipo de documento</td>
                <td>Nombre</td>
                <td>Autoriza</td>
                <td>Fecha</td>
                <td>Cuenta</td>
                <td>Punto de contacto</td>
                <td>Norma</td>
            </tr>
            <tr ALIGN=center *ngFor="let item of listarautorizaciones" >
                <td>{{ item.NumeroId }}</td>
                <td>{{ item.TipoId }}</td>
                <td>{{ item.NombrePersona }}</td>
                <td>{{ item.Autoriza }}</td>
                <td>{{ item.Fecha }}</td>
                <td>{{ item.Cuenta }}</td>
                <td>{{ item.PuntoContactoNombre }}</td>
                <td>{{ item.Codigo }}</td>

            </table>

                </div>





        </div>
    </div>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
</body>

</html>
