<!DOCTYPE html>
<html *ngIf="acceso">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="aut-contactos.component.css" />

    <!-- Font Awesome JS -->
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
      integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
      crossorigin="anonymous"
    ></script>
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
      integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div class="wrapper">
      <!-- Sidebar  -->
      <nav id="sidebar">
        <div class="sidebar-header">
          <a href="http://localhost:4200/home">
          <!-- <a href="https://autdatosdes.chec.com.co/#home"> -->
            <h3 class="auto">Autorizacion de datos personales</h3>
          </a>
          <strong>AD</strong>
        </div>

        <ul class="list-unstyled components">
          <li (click)="ShowHideButton()">
            <a href="http://localhost:4200/#normaslist">
            <!-- <a href="https://autdatosdes.chec.com.co/#normaslist"> -->
              <i class="fa fa-book"></i>
              Normas
            </a>
          </li>

          <li class="active" (click)="ShowHideButton()">
            <a href="http://localhost:4200/#contactoslist">
            <!-- <a href="https://autdatosdes.chec.com.co/#contactoslist"> -->
              <i class="fa fa-address-book"></i>
              Puntos de contacto
            </a>
          </li>
          <li (click)="ShowHideButton()">
            <a href="http://localhost:4200/#autorizacioneslist">
            <!-- <a href="https://autdatosdes.chec.com.co/#autorizacioneslist"> -->
              <i class="fa fa-check-square"></i>
              Autorizaciones
            </a>
          </li>
        </ul>
      </nav>

      <!-- Page Content  -->
      <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <button type="button" id="sidebarCollapse" class="btn btn-info">
              <i class="fa fa-align-left"></i>
              <span>Ocultar menu</span>
            </button>
            <button
              class="btn btn-dark d-inline-block d-lg-none ml-auto"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <i class="fa fa-align-justify"></i>
            </button>
            <img  class="img-responsive"  src="assets/images/chec3.jpg">
          </div>
          <a  (click)="logOut()"  class="btn btn-info btn-lg salir "  >
            <span class="glyphicon glyphicon-log-out"></span> Salir
          </a>
        </nav>

        <div class="container">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a
                class="nav-link active" *ngIf="showMainContent"
                data-toggle="tab"
                href="http://localhost:4200/#contactos"
                >Forma</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link "
                data-toggle="tab"
                href="http://localhost:4200/#contactoslist"
                >Listado</a
              >
            </li>
          </ul>
          <br />
          <div class="tab-content">
            <div id="forma" class="tab-pane fade in active show">
              <form class="needs-validation" novalidate>
                <div class="row mb-3">
                  <label for="inputNombre" class="col-sm-2 col-form-label">Nombre:</label>
                  <div class="col-sm-10">
                    <input type="text" [(ngModel)]="formularitipocontato.pNombre" class="form-control" [ngModelOptions]="{standalone: true}"placeholder="Ingrese Nombre" required>

                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputDescripción" class="col-sm-2 col-form-label">Descripcion</label>
                  <div class="col-sm-10">
                    <input type="text" [(ngModel)]="formularitipocontato.pDescripcion" class="form-control" [ngModelOptions]="{standalone: true}"placeholder="Ingrese Descripción" required>

                  </div>
                </div>

                   <!-- 4 columnas -->

                  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
                    <div class="col">
                      <div class="p-3" class="canal">Canal:</div>
                    </div>
                    <div class="col">
                      <div class="p-3" class="sele-canal">
                        <select [(ngModel)]="formularitipocontato.pCanal" class="form-select" [ngModelOptions]="{standalone: true}" aria-label="Default select example" >
                         <option selected>Seleccione un canal...</option>
                         <option value="PRESENCIAL">Presencial</option>
                         <option value="DIGITAL">Digital</option>
                         <option value="TELEFONICO">Telefonico</option>
                         <option value="ESCRITO">Escrito</option>
                        </select>
                      </div>

                    </div>
                    <div class="col">
                      <div class="p-3"class="activo">Activo:</div>
                    </div>
                    <div class="col">
                      <div class="p-3" class="sele-activo">
                        <select [(ngModel)]="formularitipocontato.pActivo" class="form-select" [ngModelOptions]="{standalone: true}" aria-label="Default select example" required>
                        <option selected>Autoriza estado ...</option>
                        <option value="SI">Si</option>
                        <option value="NO">No</option>
                      </select></div>
                    </div>
                    <!-- Mensajes para validación   -->
                    <div class="valid-feedback">¡Campo válido!</div>
                    <div class="invalid-feedback">Debe completar los datos.</div>

                  </div>




                   <!-- fin -->



                <br />

                <div class="aceptar">
                  <button type="submit"  (click)="agregarContacto()"  class="btn btn-success btn-lg">
                    <i class="fa fa-database"></i>&nbsp; Aceptar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- jQuery CDN - Slim version (=without AJAX) -->
      <script
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"
      ></script>
      <!-- Popper.JS -->
      <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"
      ></script>
      <!-- Bootstrap JS -->
      <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"
      ></script>

    </div>
  </body>
</html>
