<!DOCTYPE html>
<html *ngIf="acceso">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />


    <style>
      table, td {
        border:1px solid black;
      }
      table {
        width:100%;
      }
      td {
        padding:5px;
      }
    </style>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.js"></script>

    <link rel="stylesheet" href="/lib/bootstrap.min.css" />
    <script src="/lib/jquery-1.12.2.min.js"></script>
    <script src="/lib/bootstrap.min.js"></script>
    <!-- Bootstrap CSS CDN -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
      integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
      crossorigin="anonymous"
    />
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="aut-autorizaciones.component.css" />

    <!-- Font Awesome JS -->
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
      integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
      crossorigin="anonymous"
    ></script>
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
      integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
      crossorigin="anonymous"
    ></script>

    <!-- datepicker font -->

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <script
      defer
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
    ></script>
    <script
      defer
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>

  <body>
    <div class="wrapper">
      <!-- Sidebar  -->
      <nav id="sidebar">
        <div class="sidebar-header">
          <a href="http://localhost:4200/home">
          <!-- <a href="https://autdatosdes.chec.com.co/#home"> -->
            <h3 class="auto">Autorizacion de datos personales</h3>
          </a>
          <strong>AD</strong>
        </div>

        <ul class="list-unstyled components">
          <li (click)="ShowHideButton()">
            <a href="http://localhost:4200/normaslist">
            <!-- <a href="https://autdatosdes.chec.com.co/#normaslist"> -->
              <i class="fa fa-book"></i>
              Normas
            </a>
          </li>

          <li (click)="ShowHideButton()">
            <a href="http://localhost:4200/#contactoslist">
            <!-- <a href="https://autdatosdes.chec.com.co/#contactoslist"> -->
              <i class="fa fa-address-book"></i>
              Puntos de contacto
            </a>
          </li>
          <li class="active" (click)="ShowHideButton()">
            <a href="http://localhost:4200/#autorizacioneslist">
            <!-- <a href="https://autdatosdes.chec.com.co/#autorizacioneslist"> -->
              <i class="fa fa-check-square"></i>
              Autorizaciones
            </a>
          </li>
        </ul>
      </nav>

      <!-- Page Content  -->
      <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <button type="button" id="sidebarCollapse" class="btn btn-success">
              <i class="fa fa-align-left"></i>
              <span>Ocultar menu</span>
            </button>

            <button
              class="btn btn-dark d-inline-block d-lg-none ml-auto"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <i class="fas fa-align-justify"></i>
            </button>
            <img  class="img-responsive"  src="assets/images/chec3.jpg" >
          </div>
          <a  (click)="logOut()"  class="btn btn-info btn-lg salir "  >
            <span class="glyphicon glyphicon-log-out"></span> Salir
          </a>
        </nav>

        <div class="container">
          <ul class="nav nav-tabs">
            <li class="nav-item" *ngIf="showMainContent">
              <a
                class="nav-link active"
                data-toggle="tab"
                href="http://localhost:4200/#autorizaciones"
                >Forma</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link "
                data-toggle="tab"
                href="http://localhost:4200/#autorizacioneslist"
                >Listado</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                data-toggle="tab"
                href="http://localhost:4200/#autorizacionescont"
                >Contacto</a
              >
            </li>
          </ul>
          <br>
          <label class="bordefor">

            <div class="tab-content">
              <div id="forma" class="tab-pane fade in active show">

                <!-- formulario autorizaciones -->
                 <form class=" needs-validation" novalidate>
                <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
                  <div class="col">
                    <div class="p-3 " class="documento"><label  for="inputEmail4" class="form-label">N° Documento:</label ></div>
                  </div>
                  <div class="col">
                    <div class="p-3 " class="texto1"> <input  type="text" [(ngModel)]="formularioautorizacion.pNumero" class="form-control" [ngModelOptions]="{standalone: true}"placeholder="Ingrese numero documento" required></div>
                    <!-- Mensajes para validación   -->
                    <div class="valid-feedback">¡Campo válido!</div>
                    <div class="invalid-feedback">Debe completar los datos.</div>
                  </div>
                  <div class="col ">
                    <div class="p-3 " class="tipo-documento"><label  for="inputEmail4" class="form-label">Tipo de Documento:</label></div>
                  </div>
                  <div class="col">
                    <div class="p-3 " class="sele-documento">
                      <select  [(ngModel)]="formularioautorizacion.pTipoId" class="form-select" [ngModelOptions]="{standalone: true}" aria-label="Default select example" required>
                         <option selected>Seleccione Tipo de documento...</option>
                         <option value="1">CC</option>
                         <option value="2">NIT</option>
                         <option value="3">Causahabiente / Rpresentante Legal</option>
                      </select>
                    </div>
                    <!-- Mensajes para validación   -->
                    <div class="valid-feedback">¡Campo válido!</div>
                    <div class="invalid-feedback">Debe completar los datos.</div>
                  </div>

                </div>

                <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
                  <div class="col">
                    <div class="p-3 " class="nombre"><label  for="inputAddress" class="form-label">Nombre:</label></div>
                  </div>
                  <div class="col">
                    <div class="p-3 " class="texto2"><input  [(ngModel)]="formularioautorizacion.pNombrePersona" type="text"class="form-control" [ngModelOptions]="{standalone: true}" placeholder="Ingresar nombre"required></div>
                  </div>



                </div>

                <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
                  <div class="col">
                    <div class="p-3 " class="cuenta"><label for="inputAddress2" class="form-label">Cuenta:</label></div>
                  </div>

                  <div class="col">
                    <div class="p-3 " class="texto3"><input [(ngModel)]="formularioautorizacion.pCuenta" type="text" class="form-control" [ngModelOptions]="{standalone: true}" placeholder="Ingrese cuenta"required></div>
                  </div>

                </div>

                <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
                  <div class="col" class="norma">
                    <label for="inputAddress" class="form-label">Norma:</label>
                  </div>

                  <div class="col" >
                    <div class="p-3 " class="sele-norma">
                      <select  [(ngModel)]="formularioautorizacion.pNormaId"  class="form-select" [ngModelOptions]="{standalone: true}" aria-label="Default select example" required>
                        <option disabled selected> Selecciona una opcion</option>
                        <option *ngFor="let item of listarnormaactiva" [value]='item.Id'>{{item.pCodigo}}</option>
                     </select>
                  </div>
                </div>
                </div>
                 <br>
                <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
                  <div class="col" >
                    <div class="p-3 "class="descripcion">
                    <label  for="inputCity" class="form-label"
                      >Descripcion Norma:</label>
                  </div>
                </div>
                  <div class="col" >
                    <div class="p-3 " class="texto4">
                    <input [(ngModel)]="formularioautorizacion.pDescripcion" class="form-control form-control-lg" type="text" [ngModelOptions]="{standalone: true}" aria-label=".form-control-lg example"required>
                  </div>
                  </div>
                </div>

                <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
                  <div class="col">
                    <div class="p-3 " class="canal"><label for="inputAddress" class="form-label">Canal:</label></div>
                  </div>
                  <div class="col">
                    <div class="p-3 " class="sele-canal">
                      <select [(ngModel)]="formularioautorizacion.pDescripcioncontacto"  class="form-select"[ngModelOptions]="{standalone: true}"  aria-label="Default select example" required>
                        <option selected>Seleccione un canal...</option>
                        <option value="PRESENCIA">Presencial</option>
                        <option value="2">Digital</option>
                        <option value="3">Telefonico</option>
                        <option value="3">Escrito</option>
                      </select>
                    </div>
                  </div>
                  <div class="col">
                    <div class="p-3 " class="autoriza">  <label  for="inputAddress" class="form-label">Autoriza:</label></div>
                  </div>
                  <div class="col">
                    <div class="p-3 " class="estado">
                      <select [(ngModel)]="formularioautorizacion.pAutoriza" class="form-select" [ngModelOptions]="{standalone: true}" aria-label="Default select example" required>
                        <option selected>Autoriza estado ...</option>
                        <option value="SI">Si</option>
                        <option value="NO">No</option>
                      </select>
                    </div>

                  </div>

                </div>

                <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
                  <div class="col">
                    <div class="p-3 " class="contacto"><label  for="inputAddress" class="form-label9">Punto de contacto:</label></div>
                  </div>
                  <div class="col">
                    <div class="p-3" class="sele-contacto">
                      <select [(ngModel)]="formularioautorizacion.pPuntoContactoId"  class="form-select" [ngModelOptions]="{standalone: true}" aria-label="Default select example"required>
                        <option *ngFor="let item of listarpuntocontacto" [value]='item.id'>{{item.Nombre}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col">
                    <div class="p-3 " class="des-contacto"><label for="inputCity" class="form-label">Descripcion Contacto:</label></div>
                  </div>
                  <div class="col">
                    <div class="p-3" class="texto5"> <input type="text" class="form-control" id="inputCity" required></div>
                  </div>

                </div>

              </form>

                <!-- fin -->

                <div class="grid">
                  <div class="g-col-6" class="guardar"><button type="submit" (click)='agregarautorizacion()' class="btn btn-primary">
                    Guardar
                  </button></div>
                  <div class="g-col-6" class="trazabilidad"><!-- Button trigger modal -->
                    <button
                      type="button"
                      class="btn btn-success"
                      data-bs-toggle="modal"
                      data-bs-target="#exampleModal"
                    >
                      Trazabilidad
                    </button>

                    <!-- Modal -->
                    <div
                      class="modal fade"
                      id="exampleModal"
                      tabindex="-1"
                      aria-labelledby="exampleModalLabel"
                      aria-hidden="true"
                    >
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <div  class="modal-header" >
                            <h5  class="modal-title" id="exampleModalLabel" class="traza">
                              Trazabilidad Autorizaciones
                            </h5>
                            <button
                              type="button"
                              class="btn-close"
                              data-bs-dismiss="modal"
                              aria-label="Close"
                            ></button>
                          </div>
                          <div class="modal-body"><table>

                            <TR ALIGN=center>
                              <TD>Fecha</TD>
                              <TD>Autoriza</TD>
                              <TD>Cuenta</TD>
                              <TD>Punto de contacto</TD>
                              <TD>Norma</TD>
                          </TR>
                          <TR ALIGN=center>
                              <TD>2021-03-15</TD>
                              <TD>SI</TD>
                              <TD>1245784</TD>
                              <TD>Contact Center</TD>
                              <TD>Descripcion de la norma</TD>
                          </TR>
                          <TR ALIGN=center>
                            <TD>2021-04-15</TD>
                            <TD>NO</TD>
                            <TD>78254</TD>
                            <TD>Ventanilla</TD>
                            <TD>Descripcion de la norma</TD>
                          </TR>
                          <TR ALIGN=center>
                          <TD>2021-05-25</TD>
                          <TD>SI</TD>
                          <TD>1245785</TD>
                          <TD>Ventanilla</TD>
                          <TD>Descripcion de la norma</TD>
                          </TR>



                          </table></div>
                          <div class="modal-footer">
                            <button
                              type="button"
                              class="btn btn-secondary"
                              data-bs-dismiss="modal"
                            >
                              Cerrar
                            </button>
                          </div>
                        </div>
                      </div>
                    </div></div>
                </div>
                <div class="row justify-content-center">

                  <div class="col" >

                  </div>
                </div>
              </div>
            </div>
          </label>
        </div>
      </div>
    </div>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <!-- Popper.JS -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
      integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
      crossorigin="anonymous"
    ></script>
    <!-- Bootstrap JS -->
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
      integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
      crossorigin="anonymous"
    ></script>

    <script type="text/javascript">
      $(document).ready(function () {
        $("#sidebarCollapse").on("click", function () {
          $("#sidebar").toggleClass("active");
        });
      });
    </script>
  </body>
</html>
