<!--=====================================
Formulario de ingreso
======================================-->

<link href="/lib/vendor/fontawesome-free/css/all.css" rel="stylesheet" type="text/css">

<link href="/lib/css/sb-admin-2.css" rel="stylesheet">

<script src="/lib/jquery/dist/jquery.min.js"></script>

<body>
<div >
  <div class="row ">
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div  class="img-izq">
        <img   class="chec" src="assets/images/aplicativo1.jpg" class="img-fluid" >
      </div>
    </div>


    <!-- Lado derecho del loginForm -->
    <div class="col-6 col-md-6 col-lg-6">
      <div class="row">
      <div  class="img-responsive  col-md-12 col-lg-12">
      <img   src="assets/images/chec3.jpg" >

      <div  class="signin text-center" >

     <form class="form-signin needs-validation col-md-12 col-lg-12 " novalidate [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">

       <h3 class="mb-3 font-weight-nold  sesion">Iniciar Sesión</h3>

       <div class="form-group">
         <label for="exampleFormControlInput1" class="form-label usuario">Usuario:</label>
         <input type="text" class="form-control mt-3" placeholder="Usuario" formControlName="pUsuario" required>


         <div  class="invalid-feedback">Este campo es obligatorio</div>

       </div>

       <div class="form-group">
         <label for="exampleFormControlInput1" class="form-label contrasena">Contraseña:</label>
         <input type="password" class="form-control mt-3" placeholder="Contraseña" formControlName="pContrasena" required>
         <div  class="invalid-feedback">Este campo es obligatorio</div>

       </div>



       <button type="submit" class="btn btn-lg btn-primary btn-block mt-3 button" value="Log In">Ingresar</button>

     </form>

   </div></div></div>
  </div>
  </div>


</div>

</body>

 <!-- <body>
 <div class="container">

  <div class="row" class="ladoizquierdo" >
    <div class="col-8" class="img-izq"><img   class="chec" src="assets/images/aplicativo1.jpg" class="img-fluid" ></div>
  </div>
  <div class="row" class="ladoderecho" >
    <div class="col-4"  class="img-responsive"><img   src="assets/images/chec1.jpg" >
       <div  class="signin text-center" >

      <form class="form-signin needs-validation" novalidate [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">

        <h3 class="mb-3 font-weight-nold">Iniciar Sesión</h3>

        <div class="form-group">
          <label for="exampleFormControlInput1" class="form-label">Usuario:</label>
          <input type="text" class="form-control mt-3" placeholder="Usuario" formControlName="pUsuario" required>

          <div class="invalid-feedback">Error en el campo de usuario</div>

          <div  class="invalid-feedback">Este campo es obligatorio</div>

        </div>

        <div class="form-group">
          <label for="exampleFormControlInput1" class="form-label">Contraseña:</label>
          <input type="password" class="form-control mt-3" placeholder="Contraseña" formControlName="pContrasena" required>
          <div  class="invalid-feedback">Este campo es obligatorio</div>

        </div>



        <button type="submit" class="btn btn-lg btn-primary btn-block mt-3" value="Log In">Ingresar</button>

      </form>

    </div></div>

  </div>

</div>

</body> -->


