@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
  width: 100%;
    font-family: 'Poppins', sans-serif;
    background: #ffffff !important;
}
.img-izq {
  width: 100%;
  float: right;
}

.form-signin{
  width: 100%;
  max-width: 418px;
  padding: 33px;
  background-color: white;
  margin-top: -3%;
  border-radius: 1%;
}

.img-responsive{
  margin-top: 20%;
  margin-left: 27%;
}

.sesion{
  font-weight: 600;
  font-size: 138%;

}

.usuario{
  float: left;
  font-weight: 600;
}

.contrasena{
  float: left;
  font-weight: 600;
}

.button{
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;

}

.button:focus{
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  box-shadow: 0 0 0 0.25rem rgba(49, 253, 117, 0.404);
}

/* * {
  box-sizing: border-box;
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

.sesion {
  font-family: 'Poppins', sans-serif;
  font-size: 2.3em;
  font-weight: 300;
  line-height: 1.9em;
  color: #000000;
}
body {
  margin: 0;
  background-color: #b5b8bb;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.container {
  background-color: #878d92;
  max-width: 100%;
}
.signin{
  display: flex;
  background-color: #f8f9fa;
  margin-top: 0%;
  margin-right: 1%;
  padding-bottom: 5%;
}

.form-signin{
	width:100%;
	max-width:330px;
	padding:15px;
	margin:auto;
}

.form-signin .form-control{
	position:relative;
	box-sizing: border-box;
	height:auto;
	padding:10px;
	font-size: 16px;
}
h1 {
  margin: 0;
  padding: 0;
  color: #000000;
  text-align: center;
  margin-top: -12%;
}
.form-label{
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 0.7em;
  color: #000000;
}
.ladoizquierdo {
  background-color: #b5bbc1;
}
.ladoizderecho{

}

.imagenizq{


}
.chec{

}
.img-izq{
  width: 47.2%;
    background-size: cover;
    height: auto;

}
.img-responsive{
  margin-top: -40%;
    margin-left: 61%;
    padding-right: 11.12%;
}

.custom-form {
  width: 25%;
  background: rgba(255, 255, 255, 0.15);
  padding: 2rem 3rem;
  background-color: #ffffff;
  color: black;
  margin-top: -30.6%;
  margin-right: 13%;
  float: right;
  position: relative;
}
.custom-form input {
  display: block;
  margin: 2rem 0;
  width: 100%;
  border-radius: 0.5rem;
  padding: 1rem;
  border: none;
  box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.8), inset 5px 5px 10px
      rgba(0, 0, 0, 0.1);
  border: 0 none;
  background: #ebf5fc;
}
.custom-form button {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  border: none;
  font-size: 0.875rem;
  color: #ffffff;
  font-weight: bold;
  background-color: #007c32;
  width: 100%;
  display: block;
  padding: 0.875rem 1rem;
  border-radius: 1.5rem;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
  cursor: pointer;
}

.login{

}

.form-label{
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  line-height: 0.7em;
  color: #000000;
}


 */
