<!DOCTYPE html>
<html *ngIf="acceso">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- datetime picker jquery -->
     <!--libreria jquery-->
<script src="js/jquery-3.4.1.min.js"></script>
<!-- js para personalizar -->
<script src="js/app.js"></script>


<!--css Date Picker-->
<link rel="stylesheet" href="/src/assets/css-bootstrap/bootstrap-datepicker.standalone.css">
           <!-- fin -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.js"></script>

    <link rel="stylesheet" href="/lib/bootstrap.min.css">
    <script src="/lib/jquery-1.12.2.min.js"></script>
    <script src="/lib/bootstrap.min.js"></script>
    <!-- Bootstrap CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="aut-normas.component.css">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

      <!-- datepicker font -->

      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
      <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

<body>

    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
              <a href="https://autdatosdes.chec.com.co/#home">
                <h3 class="auto">Autorizacion de datos personales</h3>
              </a>
                <strong>AD</strong>
            </div>

            <ul class="list-unstyled components">
                <li class="active" (click)="ShowHideButton()">
                   <a href="http://localhost:4200/#normaslist">
                   <!-- <a href="https://autdatosdes.chec.com.co/#normaslist"> -->
                        <i class="fa fa-book"></i>
                        Normas
                    </a>

                </li>

                <li (click)="ShowHideButton()">
                    <a href="http://localhost:4200/#contactoslist">
                    <!-- <a href="https://autdatosdes.chec.com.co/#contactoslist"> -->
                        <i class="fa fa-address-book"></i>
                        Puntos de contacto
                    </a>
                </li>
                <li (click)="ShowHideButton()">
                    <a href="http://localhost:4200/#autorizacioneslist">
                    <!-- <a href="https://autdatosdes.chec.com.co/#autorizacioneslist"> -->
                        <i class="fa fa-check-square"></i>
                        Autorizaciones
                    </a>
                </li>
            </ul>

        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-success">
                        <i class="fa fa-align-left"></i>
                         <span>&nbsp; Ocultar menu</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>


                    <img  class="img-responsive"  src="assets/images/chec3.jpg" >

                </div>
                <a  (click)="logOut()"  class="btn btn-info btn-lg salir "  >
                  <span class="glyphicon glyphicon-log-out"></span> Salir
                </a>
            </nav>

            <div  class="container">
              <ul class="nav nav-tabs">
                  <li  class="nav-item" *ngIf="showMainContent"><a class="nav-link active " data-toggle="tab" href="http://localhost:4200/#normas">Forma</a></li>
                  <li class="nav-item"><a class="nav-link " data-toggle="tab" href="http://localhost:4200/#normaslist">Listado</a></li>

                </ul>
                <br>
                <div class="tab-content">
                  <div id="forma" class="tab-pane fade in active show">
                    <form errorTailor>
                      <div class="form-group row">
                        <label for="controlNombre" class="col-sm-2 col-form-label">Codigo:</label>
                        <div class="col-sm-10">
                          <input  type="text" [(ngModel)]="formularionorma.pCodigo" class="form-control"[ngModelOptions]="{standalone: true}"class="form-control"   placeholder="Ingrese codigo" required>
                           <!-- Mensajes para validación   -->


                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="controlNombre" class="col-sm-2 col-form-label">Descripción norma:</label>
                        <div class="col-sm-10">
                          <input  type="text"[(ngModel)]="formularionorma.pDescripcion" [ngModelOptions]="{standalone: true}"class="form-control form-control-lg"  required>
                        <!-- Mensajes para validación   -->
                        <div class="valid-feedback">¡Campo válido!</div>
                        <div class="invalid-feedback">Debe completar los datos.</div>
                        </div>
                      </div>



              <div class="row">
                      <label for="inputEmail3" class="col col-form-label">Fecha Inicio:</label>
                    <div class=" col">

                        <div class="form-group">
                          <div class="input-group">
                            <input [(ngModel)]="formularionorma.pFechaInicio" type="text" class="form-control" placeholder="yyyy-mm-dd"
                                   name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" required>
                            <div class="input-group-append">
                              <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                              <!-- Mensajes para validación   -->
                        <div class="valid-feedback">¡Campo válido!</div>
                        <div class="invalid-feedback">Debe completar los datos.</div>
                            </div>
                          </div>
              </div>

                    </div>
                      <label for="inputEmail3" class="col col-form-label">Fecha Fin:</label>



                      <div class=" col ">
                        <div class="form-group">
                          <div class="input-group">
                            <input [(ngModel)]="formularionorma.pFechaFin" class="form-control"placeholder="yyyy-mm-dd"
                                   name="dp1" [(ngModel)]="model1" ngbDatepicker #d1="ngbDatepicker" required>
                            <!-- Mensajes para validación   -->
                        <div class="valid-feedback">¡Campo válido!</div>
                        <div class="invalid-feedback">Debe completar los datos.</div>
                                   <div class="input-group-append">
                              <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="aceptar">
                      <button type="click" (click)="agregarnorma()"  class="btn btn-success btn-lg">
                       <i class="fa fa-database"></i>&nbsp; Aceptar</button>
                    </div>



                 </form>








                </div>
                </div>





        </div>
    </div>



    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <!-- obligatori qyue la libreria datepicker este en el footer justo despues de los js de boostrap para no causar conflictos -->
    <script src="/src/assets/js-bootstrap/bootstrap-datepicker.min.js"></script>
    <script src="/src/assets/locales-bootstrap/bootstrap-datepicker.es.min.js"></script>



    </div>

    <script type="text/javascript">
      $(document).ready(function () {
          $('#sidebarCollapse').on('click', function () {
              $('#sidebar').toggleClass('active');
          });
      });
  </script>
</body>

</html>
